*.C linguist-detectable=true
*.Makefile linguist-detectable=true
*.Shell linguist-detectable=true
*.Perl linguist-detectable=true
*.Roff linguist-detectable=false

*.3 linguist-documentation
*.2 linguist-language=MiniLibX 
*.h5 filter=lfs diff=lfs merge=lfs -text
